:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-grey-base: #c0c0c0;
    --color-grey-dark: #707070;

    --color-primary-base: #9fe4f0;
    --color-primary-dark: #19555f;
    --color-primary-light: #c7ebf1;
    --color-primary-extralight: #00a5731f;

    --color-secondary-base: #bbcaa0;
    --color-secondary-dark: #92a76c;
    --color-secondary-light: #d3ddc0;
    --color-secondary-extralight: #e3e9d9;
}
