.contact-container {
    display: grid;
    gap: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    display: grid;
    > .title {
        font-size: 32px;
    }
    > .subtitle {
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        justify-self: center;
    }
}
